# Build Maven
/target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Classes compilées
*.class

# Fichiers temporaires ou de log
*.log
*.csv

# Configuration IntelliJ
.idea/
*.iml
.idea/workspace.xml

# macOS
.DS_Store